@keyframes slideInFromTop {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(0);
    }
  }
  
/* header {   
        animation: 1s ease-out 0s 1 slideInFromTop;
    } */


.navFollow {
    animation: 1s ease-out 0s 1 slideInFromTop;

    position: fixed;
}